# IDE directories
.idea/

# log directories
.logs/

# Temporary directories
.temp/
temp*/

# Requirements report
*.docx

# Logs report
app.log

# API-KEY
sendgrid.env

# Temporary data files
campaigns.json
